<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"
		integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
	<title>sample registration</title>
</head>
<style>
	body {
		background-image: url('/static/soil.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		height: 100%;
	}
</style>

<body>
	<div class="container">
		<h1 style="text-align: center;" class="m-2"><b>Soil Sample Registration</h1></b>

		<form method="POST" id="sample_registration" onsubmit="register_samples()">

			<div class="form-group">
				<label for="state">State:</label>
				<select name="state" class="form-control" id="state" required>
					<option selected disabled>Select State</option>

				</select>
			</div>

			<div class="form-group">
				<label for="district">District:</label>
				<select name="district" class="form-control" id="district" required>
					<option selected disabled>Select District</option>
				</select>
			</div>

			<div class="form-group">
				<label for="block">Block:</label>
				<select name="block" class="form-control" id="block" required>
					<option selected disabled>Select Block</option>
				</select>
			</div>

			<div class="form-group">
				<label for="village">Village:</label>
				<select name="village" class="form-control" id="village" required>
					<option selected disabled>Select Village</option>
				</select>
			</div>

			<div class="form-group">
				<label for="name">Farmer's Name:</label>
				<input type="text" name="name" class="form-control" id="name" placeholder="Enter name" required>
			</div>

			<div class="form-group">
				<label for="phone">Phone Number:</label>
				<input type="number" name="phone" min="5000000000" max="9999999999" class="form-control" id="phone"
					placeholder="Enter phone number" required>
			</div>

			<div class="form-group">
				<label for="prev_crop">Previous crop:</label>
				<input type="text" name="prev_crop" class="form-control" id="prev_crop"
					placeholder="Enter previous crop" required>
			</div>

			<button type="submit" class="btn btn-primary">Continue</button>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script>
		function register_samples(){
			e.preventDefault();
			const data = {
				state:$('#state').val(),
				district:$('#district').val(),
				block:$('#block').val(),
				village:$('#village').val(),
			}
	
			window.sessionStorage.setItem('sample_registration_data',JSON.stringify(data))
			window.location.href='/pages/crop_details.html'
		}
		$(document).ready(function () {
			$.get('/get_area_data/state', function (data) {
				var states = JSON.parse(data).states;
				var state_select = $('#state');
				for (var i = 0; i < states.length; i++) {
					state_select.append('<option value="' + states[i] + '">' + states[i] + '</option>');
				}
			})
			$('#state').change(function () {
				var state = $(this).val();
				$.get('/get_area_data/district', { state: state }, function (data) {
					var districts = JSON.parse(data).districts;
					var district_select = $('#district');
					district_select.empty();
					district_select.append('<option selected disabled>Select District</option>');
					for (var i = 0; i < districts.length; i++) {
						district_select.append('<option value="' + districts[i] + '">' + districts[i] + '</option>');
					}
				})
			});
			$('#district').change(function () {
				var state = $('#state').val();
				var district = $(this).val();
				$.get('/get_area_data/block', { state: state, district: district }, function (data) {
					var blocks = JSON.parse(data).blocks;
					var block_select = $('#block');
					block_select.empty();
					block_select.append('<option selected disabled>Select Block</option>');
					for (var i = 0; i < blocks.length; i++) {
						block_select.append('<option value="' + blocks[i] + '">' + blocks[i] + '</option>');
					}
				})
			});
			$('#block').change(function () {
				var block = $(this).val();
				var state = $('#state').val();
				var district = $('#district').val();
				$.get('/get_area_data/village', { block: block, state: state, district: district }, function (data) {
					var villages = JSON.parse(data).villages;
					var village_select = $('#village');
					village_select.empty();
					village_select.append('<option selected disabled>Select Village</option>');
					for (var i = 0; i < villages.length; i++) {
						village_select.append('<option value="' + villages[i] + '">' + villages[i] + '</option>');
					}
				})
			});
		});
	</script>
</body>

</html>